.BuildControls{
    width:100%;
    background-color: orange;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #cccccc;
    margin:auto;
    padding: 10px 0;
}